fastcore @ git+https://github.com/isaac-flath/fastcore@FT-dunder-add-bug-fix
python-fasthtml==0.4.4
fh-matplotlib
fh-altair
pandas
fastsql
plotly
fh-plotly
numpy
fastcore @ git+https://github.com/isaac-flath/fastcore@FT-dunder-add-bug-fix
